
:root {
    --cor-fundo: #1D2D50;
    --cor-principal: #133B5C;
    --cor-secundaria: #1E5F74;
    --cor-destaque: #FCDAB7;
    --cor-texto: #F4FAFF;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 18px;
    margin: 0;
    padding: 20px;
}

.caixa-principal {
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

h1 {
    color: var(--cor-destaque);
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Arial Black', sans-serif;
}

.caixa-perguntas {
    padding-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
    color: var(--cor-destaque);
    font-family: 'Verdana', sans-serif;
}

.caixa-alternativas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 20px;
    padding: 12px;
    transition: background-color 0.3s, transform 0.3s;
    margin: 12px 0;
    font-size: 18px;
    width: 100%;
    max-width: 100%;
    cursor: pointer;
    font-family: 'Verdana', sans-serif;
}

button:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
    transform: scale(1.05);
}

.caixa-resultado {
    margin-top: 25px;
    text-align: left;
}

.caixa-resultado ul {
    list-style-type: none;
    padding-left: 0;
}

.caixa-resultado li {
    margin-bottom: 10px;
    background-color: var(--cor-secundaria);
    padding: 10px;
    border-radius: 10px;
    color: var(--cor-destaque);
}

#reiniciar {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 20px;
    padding: 15px 30px;
    transition: background-color 0.3s, transform 0.3s;
    margin: 20px auto 0;
    font-size: 18px;
    cursor: pointer;
    display: block;
    font-family: 'Verdana', sans-serif;
}

#reiniciar:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
    transform: scale(1.05);
}
